name: Java CI

on:
  push:
    branches:
    - master
    paths:
    - 'src/**'
    - 'pom.xml'
  pull_request:
    branches:
    - master
    paths:
    - 'src/**'
    - 'pom.xml'

jobs:
  build:
    
    name: Maven build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3.1.0
      with:
        java-version: 17
        distribution: 'adopt'
    - name: Build with Maven
      run: mvn package --file pom.xml
